@media(max-width:1199px) {
    .banner_text p {
        font-size: 17px;
    }

    .call_text p {
        font-size: 16px;
    }

    .tastimonial p {
        margin-top: 10px;
        line-height: 26px;
    }

    .develop h4 {
        padding: 48px 0 20px;
    }

    .develop p {
        line-height: normal;
        word-spacing: normal;
    }

    .legal {
        width: 98%;
        padding: 12px;
    }

    .legal h3 {
        font-size: 24px;
        margin: 12px auto;
    }

    .legal_text p {
        font-size: 15px;
        margin-left: 5px;
    }

    .dtl_x {
        padding-top: 30px !important;
    }

    .dtl_icon {
        width: 18px;
        height: 18px;
    }

    .dtl_text p {
        font-size: 15px !important;
        margin: 10px 0px 0px 10px;
    }

    .industries {
        padding-bottom: 0px;
    }

    .footer_logo p {
        font-size: 15px !important;
    }

    .policy {
        display: contents !important;
        text-align: center;
    }

    .policy p {
        font-size: 16px;
        margin-bottom: 24px;
        margin-right: 0px;
    }

    .terms ul {
        margin-left: 0px;
    }
}

@media(max-width:991px) {
    .navbar-light .navbar-toggler {
        color: transparent;
        border-color: transparent;
    }

    .navbar-light .navbar-nav .nav-link {
        color: #242424 !important;
    }

    .btn-x {
        font-size: 14px;
        border: 1px solid #242424;
        color: #242424 !important;
    }

    .navbar-collapse {
        text-align: center;
    }

    .navbar-brand img {
        width: 65%;
    }

    header {
        min-height: 0vh;
    }

    .hero_banner {
        min-height: 0vh;
    }

    .banner_text h1 {
        font-size: 34px;
        text-align: center;
    }

    .banner_text p {
        text-align: center;
    }

    .btn-y {
        font-size: 16px;
    }

    .call_text h1 {
        font-size: 34px;
    }

    .call_text p {
        font-size: 15px;
        margin-top: 16px;
    }

    .block_icon {
        width: 36%;
    }

    .block_x h4 {
        margin-left: 10px;
        font-size: 21px;
    }

    .block p {
        margin-top: 20px;
        font-size: 15px;
        line-height: normal;
    }

    .tastimonial_x {
        padding: 25px 40px;
    }

    .tastimonial_y {
        padding: 25px 40px;
    }

    .tastimonial h4 {
        font-size: 22px;
    }

    .tastimonial_x i {
        left: 3%;
        top: 10%;
        width: 20px;
        height: 20px;
        line-height: 20px;
    }

    .tastimonial_y i {
        left: 3%;
        top: 10%;
        width: 20px;
        height: 20px;
        line-height: 20px;
    }

    .develop {
        border-top-left-radius: 30%;
        border-top-right-radius: 30%;
    }

    .develop h4 {
        font-size: 20px;
        padding: 40px 0 16px;
    }

    .tastimonial p {
        font-size: 15px;
        margin-top: 16px;
        line-height: normal;
    }

    .develop p {
        font-size: 15px;
        padding: 0px 20px;
    }

    .dtl_text p {
        margin: 15px 0px 0px 14px;
        text-align: start !important;
    }

    .cover_z h1 {
        padding-top: 10px;
        font-size: 28px;
    }

    .legal img {
        width: 50%;
    }

    .legal h3 {
        font-size: 24px;
    }

    .footer_logo img {
        width: 50%;
        padding: 30px 0px;
    }

    .policy p {
        margin: 36px auto;
        color: #242424;
    }

    .terms ul li a {
        color: #242424;
    }
}

@media(max-width:767px) {
    .navbar-light .navbar-toggler {
        color: transparent;
        border-color: transparent;
    }

    .navbar-light .navbar-nav .nav-link {
        color: #242424 !important;
    }

    .btn-x {
        font-size: 14px;
        border: 1px solid #242424;
        color: #242424 !important;
    }

    .navbar-brand img {
        width: 65%;
    }

    header {
        min-height: 0vh;
    }

    .hero_banner {
        min-height: 0vh;
    }

    .banner_pic {
        display: none;
    }

    .develop h4 {
        font-size: 28px;
        padding: 48px 0 36px;
    }

    .develop p {
        font-size: 16px;
        line-height: 36px;
        word-spacing: 0px;
        padding: 0px 40px;
    }

    .banner_text {
        text-align: center;
        margin-top: 80px;
    }

    .banner_text h1 {
        font-size: 46px;
    }

    .live_calls {
        background-image: none !important;
    }

    .live_calls_pic {
        width: 70%;
        margin: auto;
    }

    .call_text {
        text-align: center !important;
    }

    .call_text p {
        font-size: 16px;
        line-height: 28px;
        margin-top: 24px;
    }

    .get_started {
        background-image: none !important;
    }

    .block {
        width: 95%;
    }

    .tastimonial_pic {
        width: 80%;
        margin: 20px auto 0px;
    }

    .industries {
        padding: 0px;
        background-image: none !important;
    }

    .cover_z h1 {
        padding-top: 8px;
    }

    .dtl_y {
        display: contents;
    }

    .dtl_icon {
        display: contents;
    }

    .FAQ_h {
        padding-bottom: 0px !important;
    }

    .footer_pic {
        display: none;
    }

    .policy p {
        font-size: 16px;
        color: #242424;
    }

    .terms ul {
        margin-left: 0px;
    }

    .terms ul li a {
        color: #242424;
    }
}

@media(max-width:575px) {
    .navbar-light .navbar-toggler {
        color: transparent;
        border-color: transparent;
    }

    .navbar-light .navbar-nav .nav-link {
        color: #242424 !important;
    }

    .btn-x {
        border: 1px solid #242424;
        color: #242424 !important;
    }

    header {
        min-height: 0vh;
    }

    .hero_banner {
        min-height: 0vh;
    }

    .banner_text {
        text-align: center;
    }

    .banner_text h1 {
        font-size: 40px;
    }

    .banner_pic {
        display: none;
    }

    .live_calls {
        padding-top: 0px;
        background-image: none;
    }

    .live_calls_pic {
        width: 80%;
        margin: 36px auto 0px;
    }

    .dtl_text p {
        text-align: center !important;
    }

    .call_text {
        text-align: center !important;
    }

    .call_text p {
        font-weight: 400;
        line-height: 24px;
        margin-top: 20px;
    }

    .block {
        width: 96%;
    }

    .get_started {
        background-image: none;

    }

    .started_x h1 {
        padding-bottom: 36px;
    }

    .tastimonial_x {
        margin: 20px auto;
    }

    .tastimonial_pic {
        width: 80%;
        margin: 20px auto 0px;
    }

    .industries {
        background-image: none;
        padding-bottom: 0px;
    }

    .dtl_y {
        display: contents;
    }

    .legal img {
        width: 24%;
    }

    .dtl_icon {
        display: contents;
    }

    .dtl_icon i {
        margin-top: 16px;
    }

    .policy p {
        color: #242424;
    }

    .terms ul {
        margin-left: 0px;
    }

    .terms ul li a {
        color: #242424;
    }

    .footer_pic {
        width: 80%;
        margin: 24px auto 0px;
    }

    .cover_z h1 {
        padding-top: 10px;
    }

    .pb-5 {
        padding-bottom: 0rem !important;
    }

    .footer_logo img {
        width: 36%;
    }
}

@media(max-width:425px) {
    .banner_text {
        padding-top: 0px;
    }

    .call_text p {
        font-size: 16px;
    }

    .block_x h4 {
        font-size: 22px;
    }

    .block p {
        font-size: 16px;
        line-height: normal;
    }

    .tastimonial p {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        margin-top: 16px;
    }

    .accordion-button {
        font-size: 18px;
    }

    .policy p {
        margin-right: 0px;
    }

    .policy {
        display: block;
        text-align: center;
    }

    .policy_btn {
        margin-top: 16px;
    }
}

@media(max-width:375px) {
    .btn-x {
        font-size: 15px;
    }

    .btn-y {
        font-size: 15px;
    }

    .block_icon {
        width: 36%;
    }

    .block_x h4 {
        font-size: 21px;
        margin-left: 12px;
    }

    .tastimonial_x {
        padding: 24px 54px;
    }

    .tastimonial_y {
        padding: 24px 54px;
    }

    .tastimonial p {
        line-height: normal;
        margin-top: 10px;
        font-size: 15px;
    }

    .tastimonial h4 {
        font-size: 21px;
    }

    .FAQ h1 {
        font-size: 25px;
    }

    .accordion-button {
        font-size: 17px;
    }

    .develop p {
        font-size: 17px;
        line-height: 28px;
        padding: 0px 40px;
    }

}

@media(max-width:320px) {

    .banner_text {
        margin-top: 36px;
    }

    .banner_text h1 {
        font-size: 36px !important;
    }

    .banner_text p {
        font-size: 15px !important;
    }

    .call_text h1 {
        font-size: 32px !important;
    }

    .call_text p {
        font-size: 15px !important;
    }

    .industries_x h1 {
        font-size: 32px;
    }

    .block {
        padding: 36px 48px;
    }

    .block_icon {
        width: 30%;
    }

    .block_x h4 {
        font-size: 20px;
    }

    .block p {
        font-size: 15px;
    }

    .tastimonial_x {
        padding: 24px 36px;
    }

    .tastimonial_y {
        padding: 24px 36px;
    }

    .tastimonial_x i {
        position: absolute;
        left: 3%;
        top: 10%;
    }

    .tastimonial_y i {
        position: absolute;
        left: 3%;
        top: 10%;
    }

    .tastimonial h4 {
        font-size: 19px;
    }

    .tastimonial p {
        font-size: 15px;
    }

    .develop h4 {
        font-size: 24px;
        padding: 48px 0 24px;
    }

    .develop p {
        font-size: 15px;
        line-height: 24px;
        padding: 0px 20px;
    }

    .dtl_text p {
        font-size: 15px !important;
        margin: 10px 0px 0px 0px;
    }

    .footer_logo p {
        font-size: 14px !important;
    }

    .policy p {
        font-size: 14px;
    }

    .terms ul li a {
        font-size: 14px !important;
    }

    .accordion-button {
        font-size: 16px;
    }
}